<app-main-nav></app-main-nav>

  <div class="backimage">
  <!-- <div class="herotext">
            <h1>Welcome</h1>
      </div> -->
   <div class="container" style="height:320px">
    <p style="color:white" >
<br>

      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dignissim nulla ac rutrum gravida. Etiam fringilla, eros egestas malesuada ornare, mi enim molestie tellus, euismod tempus nisi lorem id magna. Praesent ut lorem blandit, tincidunt dui non, elementum ex. Curabitur luctus tortor purus, vitae sagittis sapien iaculis quis. Cras bibendum consectetur congue. Vivamus ante orci, ultrices quis turpis in, egestas feugiat nisi. Vivamus ullamcorper libero ac arcu maximus, eget ultrices justo posuere. Fusce nec laoreet dolor. Mauris ac ultricies augue. Fusce et efficitur leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras auctor id nunc ac commodo. Etiam placerat, enim ut gravida interdum, tortor elit porttitor velit, eu molestie purus dolor eget tortor.
    </p>
    </div> 

    <!-- <footer class="footer">
    <div id="messagecontainer"> -->
    <!-- <div class="container"> -->
<div align="center">
    <table>
      <td style="padding:20px">
    <div class="messagecard" align="center">
      "It’s a company that inspires me. It’s forward-thinking. 
      I like the mindset and culture, and being part of a team that gives its best"
    </div>
  </td>
  <td style="padding:20px">
    <div class="messagecard" align="center">
      "A career accelerator that allows professionals to learn new skills, 
      take their careers in a different direction, and pursue a career they are passionate about"
    </div>
  </td>
  <td style="padding:20px">
    <div class="messagecard" align="center">
      "Inclusive atmosphere, talented professionals and encouraging policies 
      make it a fun place to work and grow your career!"
    </div>
  </td>
  </table>
</div>      
<!-- </div> -->
<!-- </div>
</footer> -->
</div>  
